uvicorn
fastapi
python-multipart
websockets
spacy

asttokens==2.4.1
av==11.0.0
backcall==0.2.0
boto3==1.34.113
botocore==1.34.113
certifi==2024.2.2
cffi==1.17.0
charset-normalizer==3.3.2
colorama==0.4.6
coloredlogs==15.0.1
ctranslate2==4.3.1
decorator==5.1.1
einops==0.8.0
encodec==0.1.1
executing==2.0.1
faster-whisper==1.0.1
ffmpeg-python==0.2.0
filelock==3.14.0
flatbuffers==24.3.25
fsspec==2024.5.0
funcy==2.0
future==1.0.0
huggingface-hub==0.23.2
humanfriendly==10.0
idna==3.7
importlib_metadata==8.2.0
intel-openmp==2021.4.0
ipython==8.12.3
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
kaldialign==0.9.1
keyboard==0.13.5
llvmlite==0.41.1
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
mkl==2021.4.0
more-itertools==10.4.0
mpmath==1.3.0
networkx==3.3
numba==0.58.1
numpy==1.24.4
onnxruntime==1.16.0
openai-whisper==20231117
packaging==24.0
pandas==2.0.3
parso==0.8.4
pickleshare==0.7.5
playsound==1.2.2
prompt_toolkit==3.0.45
protobuf==5.27.3
pure-eval==0.2.2
PyAudio==0.2.14
pycparser==2.22
pydub==0.25.1
Pygments==2.18.0
pyreadline3==3.4.1
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
regex==2024.5.15
requests==2.32.2
s3transfer==0.10.1
safetensors==0.4.3
scipy==1.10.1
simpleaudio==1.0.4
six==1.16.0
soundfile==0.12.1
stack-data==0.6.3
suno-bark @ file:///C:/Users/Admin/bark
sympy==1.12
tbb==2021.12.0
tiktoken==0.7.0
tokenizers==0.15.2
torch==2.3.0
torchaudio==2.3.0
tqdm==4.66.4
traitlets==5.14.3
transformers==4.41.1
typing_extensions==4.12.0
tzdata==2024.1
urllib3==1.26.18
wcwidth==0.2.13
websocket-client==1.8.0
websockets==12.0
whisper-live==0.5.0
zipp==3.20.0
